.jumbotron__title {
  margin: 80px auto 0;
  font-size: 72px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .jumbotron__title {
    font-size: 54px;
  }
}

@media screen and (max-width: 500px) {
  .jumbotron__title {
    font-size: 42px;
  }
}
