.jumbotron__image {
  width: 100%;
  min-height: 487px;
  background-image: url(../../../images/jumbotron.jpg);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
