.header__links {
  margin: 0 54px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .header__links {
    margin-right: 27px;
    gap: 4px;
  }
}

@media screen and (max-width: 500px) {
  .header__links {
    margin-right: 13px;
    gap: 2;
  }
}
