.the-problem__text-weight {
  margin: 0 0 48px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .the-problem__text-weight {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  .the-problem__text-weight {
    font-size: 18px;
  }
}
