.header__link-border {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .header__link-border {
    font-size: 14px;
  }
}
