.header__logo {
  width: 184px;
  height: 45px;
  margin: 20px 0 19px 55px;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 138px;
    height: 34px;
    margin: 10px 0 9px 27px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 104px;
    height: 26px;
    margin: 5px 0 4px 13px;
  }
}
