.footer__text {
  max-width: 540px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .footer__text {
    font-size: 14px;
  }
}
