.the-problem__text {
  margin: 0 0 40px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
}

.the-problem__text:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .the-problem__text {
    font-size: 24px;
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .the-problem__text {
    font-size: 18px;
    margin: 0 0 10px;
  }
}
