@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link-start/header__link-start.css);
@import url(../blocks/header/__link-border/header__link-border.css);
@import url(../blocks/jumbotron/jumbotron.css);
@import url(../blocks/jumbotron/__image/jumbotron__image.css);
@import url(../blocks/jumbotron/__title/jumbotron__title.css);
@import url(../blocks/the-problem/the-problem.css);
@import url(../blocks/the-problem/__title/the-problem__title.css);
@import url(../blocks/the-problem/__text/the-problem__text.css);
@import url(../blocks/the-problem/__text-weight/the-problem__text-weight.css);
@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__image/hero__image.css);
@import url(../blocks/hero/__text/hero__text.css);
@import url(../blocks/ppc/ppc.css);
@import url(../blocks/ppc/__title/ppc__title.css);
@import url(../blocks/ppc/__logo/ppc__logo.css);
@import url(../blocks/ppc/__text/ppc__text.css);
@import url(../blocks/ppc/__text-italic/ppc__text-italic.css);
@import url(../blocks/the-team/the-team.css);
@import url(../blocks/the-team/__title/the-team__title.css);
@import url(../blocks/the-team/__container/the-team__container.css);
@import url(../blocks/the-team/__card/the-team__card.css);
@import url(../blocks/the-team/__image/the-team__image.css);
@import url(../blocks/the-team/__name/the-team__name.css);
@import url(../blocks/the-team/__job/the-team__job.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);