.footer {
  width: 100%;
  margin: 0 auto;
  padding: 48px 0 64px;
  background-color: #333333;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 36px 0 48px;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    padding: 28px 0 36px;
  }
}
